<title>cabin time</title>
<link rel="shortcut icon" type="image/png" href="favicon.png" />
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">

<style>
    /* inspired by http://bettermotherfuckingwebsite.com/ */
    body {
        line-height: 1.6;
        font-size: 18px;
        color: #222;
        padding: 20 10px;
        background-color: lightblue;
        text-align: center;
    }
    h1,h2,h3 {
        line-height: 1.2;
    }

    .draggable {
        cursor: move;
    }

    #map {
        border: 1px black solid;
    }

    #checkbox-holder {
        z-index: 1;
        width: fit-content;
        padding: 8px;
        background: lightcoral;
        border: 2px black solid;
        color: #222;
        visibility: hidden;
    }
</style>

<script>
// lat, lon
const seattle_gps = [ 47.6062100, -122.3320700 ];
const los_angeles_gps = [ 34.0522300, -118.2436800 ];
const new_york_gps = [ 40.7142700, -74.0059700 ];
const wash_dc_gps = [ 38.8951100, -77.0363700 ];
const portland_gps = [ 45.523062, -122.676482 ];
const louisville_gps = [ 38.328732, -85.764771 ];
const seattle_px = [ 127, 84 ];
const los_angeles_px = [ 128, 485 ];
const new_york_px = [ 1085, 233 ];
const wash_dc_px = [ 1045, 300 ];
const portland_px = [ 104, 142 ];
const louisville_px = [ 877, 359 ];

function average_px(pxs) {
    const sum_pxs = pxs.reduce(
        ([ x_sum, y_sum ], [ x, y ]) => {
            return [ x_sum + x, y_sum + y ];
        }, [ 0, 0 ]
    );
    const avg_pxs = sum_pxs.map((sum) => sum / pxs.length);
    return avg_pxs;
}

function average_gps(gpss) {
    const deg_to_rad = (deg) => Math.PI * deg / 180;
    const cosd = (deg) => Math.cos(deg_to_rad(deg));
    const sind = (deg) => Math.sin(deg_to_rad(deg));
    const gps_to_coord = ([ lat, lon ]) => {
        const x = cosd(lat) * cosd(lon);
        const y = cosd(lat) * sind(lon);
        const z = sind(lat);
        return [x, y, z];
    };
    const avg = (coords) => {
        const sum_coords = coords.reduce(
            ([ x_sum, y_sum, z_sum ], [ x, y, z ]) => {
                return [ x_sum + x, y_sum + y, z_sum + z ];
            }, [0, 0, 0]
        );
        const avg_coords = sum_coords.map((sum) => sum / coords.length);
        return avg_coords;
    };
    const rad_to_deg = (rad) => 180 * rad / Math.PI;
    const coord_to_gps = ([ x, y, z ]) => {
        const hyp = Math.sqrt(x * x + y * y);
        const lon_rad = Math.atan2(y, x);
        const lat_rad = Math.atan2(z, hyp);
        return [ rad_to_deg(lat_rad), rad_to_deg(lon_rad) ];
    }

    const place_gps = [ seattle_gps, seattle_gps, los_angeles_gps, new_york_gps ];
    const place_coords = gpss.map(gps_to_coord);
    const avg_coords = avg(place_coords);
    return coord_to_gps(avg_coords);
};

function gps_to_px([ lat, lon ]) {
    // from gnuplot fit
    lon_to_x = (lon) => 20.8314 * lon + 2636.99;
    lat_to_y = (lat) => -29.5507 * lat + 1464.9;
    return [ lon_to_x(lon), lat_to_y(lat) ];
};

var svg = null;
function svg_el() {
    if (svg === null) {
        svg = document.querySelector('svg');
    }
    return svg;
}

function setup_dragging(update_fn) {
    const svg = svg_el();

    // global state, ugh
    var drag_el = null;

    dragstart = (event) => {
        if (event.target.classList.contains('draggable')) {
            drag_el = event.target;
        }
    };

    const get_mouse_px = (event) => {
        const CTM = svg.getScreenCTM();
        // http://www.petercollingridge.co.uk/tutorials/svg/interactive/dragging/
        return [ (event.clientX - CTM.e) / CTM.a, (event.clientY - CTM.f) / CTM.d ]
    }
    dragging = (event) => {
        if(drag_el) {
            event.preventDefault();
            const [ mouse_x, mouse_y ] = get_mouse_px(event);
            drag_el.setAttribute('cx', mouse_x);
            drag_el.setAttribute('cy', mouse_y);
            update_fn();
        }
    };

    dragend = (event) => {
        drag_el = null;
    };

    svg.addEventListener('mousedown', dragstart);
    svg.addEventListener('mousemove', dragging);
    svg.addEventListener('mouseup', dragend);
    svg.addEventListener('mouseleave', dragend);
    svg.addEventListener('touchstart', dragstart);
    svg.addEventListener('touchmove', dragging);
    svg.addEventListener('touchend', dragend);
    svg.addEventListener('touchleave', dragend);
    svg.addEventListener('touchcancel', dragend);
}

function setup_checkbox_holder(img) {
    const checkbox_holder = document.querySelector('#checkbox-holder');
    checkbox_holder.style.position = 'absolute';
    checkbox_holder.style.top = img.offsetTop + 700 + 'px';
    checkbox_holder.style.left = img.offsetLeft  + 960 + 'px';
    checkbox_holder.style.visibility = 'visible';
};

function setup(update_fn) {
    const img = document.querySelector('img');
    const svg = svg_el();
    svg.style.position = 'absolute';
    svg.style.top = img.offsetTop + 'px';
    svg.style.left = img.offsetLeft + 'px';
    svg.setAttribute('width', img.width);
    svg.setAttribute('height', img.height);

    setup_checkbox_holder(img);
};

// svg namespace
const svgNS = 'http://www.w3.org/2000/svg';
function circle([ x, y ], color = 'green') {
    const circle = document.createElementNS(svgNS, 'circle');
    circle.setAttribute('cx', x);
    circle.setAttribute('cy', y);
    circle.setAttribute('r', 6);
    circle.setAttribute('fill', color);
    circle.setAttribute('stroke', '#003300');

    svg_el().appendChild(circle);

    return circle;
}

function text(string, [ x, y ], color = 'red') {
    const text = document.createElementNS(svgNS, 'text');
    text.setAttribute('x', x);
    text.setAttribute('y', y);
    text.setAttribute('fill', color);
    text.textContent = string;
    svg_el().appendChild(text);
    return text;
}

function person(coords, color = 'green', draggable = true) {
    const person = circle(coords, color);

    if (draggable) {
        person.classList.add('draggable');
    }

    return person;
};

function wretched_creature(coors, color = 'green', is_arnav = false) {
    const person = person(coords, color);
    if(is_arnav) {
        person.classList.add('draggable');
        person.classList.add('arnav');
    } else {
        person.classList.add('not-arnav');
    }
    return person;
}


function draw_gps(gps, color) {
    circle(gps_to_px(gps), color);
};

function draw_avg_gps(gpss, ctx) {
    gpss.forEach((gps) => draw_gps(gps));
    const avg_gps = average_gps(gpss);
    draw_gps(avg_gps, 'red');
};


function draw_avg_px(pxs, ctx) {
    pxs.forEach((px) => circle(px));
    const avg_px = average_px(pxs);
    circle(avg_px, 'red');
};

function wretched_creatures() {
    const seattle_bump_px = [ seattle_px[0] + 8, seattle_px[1] + 2 ];

    const seattle = wretched_creature(seattle_px, 'white');
    const seattle_bump = wretched_creature(seattle_bump_px, 'sandybrown');
    const los_angeles = wretched_creature(los_angeles_px, 'saddlebrown');
    const new_york = wretched_creature(new_york_px, 'yellow');
    const wash_dc = wretched_creature(wash_dc_px, 'rosybrown', true);

    return [ seattle, seattle_bump, los_angeles, new_york, wash_dc ];
};

function cabin_time() {
    const louisville_bump_px = [ louisville_px[0] + 8, louisville_px[1] + 2 ];
    const louisville_bump = person(louisville_bump_px, 'white');
    const louisville_bump_bump_px = [ louisville_px[0] - 8, louisville_px[1] + 2 ];
    const louisville_bump_bump = person(louisville_bump_bump_px, 'white');

    return _cabin_time().concat([ louisville_bump, louisville_bump_bump ]);
};

function cabin_time_collate_louisville() {
    return _cabin_time();
};

function _cabin_time() {
    const seattle = person(seattle_px, 'white');
    const los_angeles = person(los_angeles_px, 'white');
    const portland = person(portland_px, 'white');
    const louisville = person(louisville_px, 'white');

    return [ seattle, los_angeles, portland, louisville ];
};

function draw_arnav_hint() {
    const px = [ wash_dc_px[0] - 180, wash_dc_px[1] - 18 ];
    const hint = text('(hint: drag Arnav around)', px);

    return hint;
};

function draw_hint() {
    const px = [ 500, 30 ];
    const hint = text('(hint: you can drag people around)', px);

    hide_hint = () => {
        hint.setAttribute('visibility', 'hidden');
        hidden = true;
    }

    return hide_hint;
}

function setup_map(people_fun) {
    // we want to add the avg first, so that it always stays below everything else
    const avg = circle([ 0, 0 ], 'red');

    const people = people_fun();

    update_avg = () => {
        const pxs = people.map((person) => {
            const x = parseInt(person.getAttribute('cx'));
            const y = parseInt(person.getAttribute('cy'));
            return [ x, y ];
        });
        const [ avg_x, avg_y ] = average_px(pxs);
        avg.setAttribute('cx', avg_x);
        avg.setAttribute('cy', avg_y);
    };

    // first update once to move center into position
    update_avg();

    return update_avg;
};

function toggle_everyone() {
    const not_arnavs = document.querySelectorAll('.not-arnav');
    not_arnavs.forEach((not_arnav) => {
        not_arnav.classList.toggle('draggable');
    });
}

function collate_louisville() {
    clear_circles();
    const update_fn = setup_map(cabin_time_collate_louisville);
    setup_dragging(update_fn);
    document.querySelector('input[type="checkbox"]').disabled = true;
};

function clear_circles() {
    document.querySelectorAll('circle').forEach(function(circle) {
        circle.remove();
    });
};

window.onload = () => {
    setup();
    const map_update_fn = setup_map(cabin_time);
    const hide_hint = draw_hint();

    var hidden = false;
    const update = () => {
        map_update_fn();
        if (!hidden) hide_hint();
    };

    setup_dragging(update);
};
</script>

<h1>Cabin Time</h1>
<img src="map.png" id="map" />
<!--
<div id="checkbox-holder">
    let me move everyone! <input type="checkbox" onclick="toggle_everyone();">
</div>
-->
<div id="checkbox-holder">
    collate louisville folk <input type="checkbox" autocomplete="off" onclick="collate_louisville();">
</div>

<svg xmlns="http://www.w3.org/2000/svg" xlmns:xlink="http://www.w3.org/1999/xlink" />
